// Secrets.xcconfig.template
// Copy this file to Secrets.xcconfig (in the same directory) and fill in your values.
// Get your OAuth Client ID from: https://console.cloud.google.com/apis/credentials
//
// GOOGLE_CLIENT_ID format:  XXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX.apps.googleusercontent.com
// GOOGLE_URL_SCHEME format: com.googleusercontent.apps.XXXXXXXXXX-XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

GOOGLE_CLIENT_ID = YOUR_CLIENT_ID_HERE.apps.googleusercontent.com
GOOGLE_URL_SCHEME = com.googleusercontent.apps.YOUR_CLIENT_ID_HERE
